@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace components1 "com.javierjulio.components.*";
@namespace components2 "com.javierjulio.contactmanager.view.components.*";

global 
{
	color: #333333;
	font-size: 12;
}

s|WindowedApplication
{
	skin-class: ClassReference("com.javierjulio.contactmanager.view.skins.ContactManagerSkin");
}


components2|AppControlBar {
	skin-class: ClassReference("com.javierjulio.contactmanager.view.skins.AppControlBarSkin");
}
components1|SuperTabBar {
	skin-class: ClassReference("com.javierjulio.skins.TabBarSkin");
}